<table class="tx-slub-addressbooks" >
	<tr>
		<td>
			<f:translate key="tx_slubwebaddressbooks_domain_model_book.year_string" />
		</td>
		<td>
			{book.yearString}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubwebaddressbooks_domain_model_book.year" />
		</td>
		<td>
			{book.year}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubwebaddressbooks_domain_model_book.type" />
		</td>
		<td>
			{book.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubwebaddressbooks_domain_model_book.ppn" />
		</td>
		<td>
			{book.ppn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_slubwebaddressbooks_domain_model_book.is_available" />
		</td>
		<td>
			{book.isAvailable}
		</td>
	</tr>
</table>
