<f:layout name="Default" />
{namespace n=Slub\SlubWebAddressbooks\ViewHelpers}

This Template is responsible for displaying a search form view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Search.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:render partial="Opengraph" arguments="{place: place, book: bookPersons.yearString, LinkMap: LinkMap, LinkMapThumb: LinkMapThumb, settings:settings}"/>
<n:metaTag property="og:url" content="<f:uri.action action='list' controller='Book' absolute='1' arguments='{year : yearCurrent, placeId : place.uid}' />" />

<f:flashMessages />

<div class="searchResults">


<f:render partial="Book/Search" arguments="{yearFirst: yearFirst, yearCurrent: yearCurrent, yearPrevious: yearPrevious, yearNext: yearNext, yearLast: yearLast, place : place, SearchString : searchName, bookPersons: bookPersons, bookStreets: bookStreets, pageHovLink: pageHovLink, pageBehoerdenverzeichnis: pageBehoerdenverzeichnis, PageBerufsklassenUndGewerbe: PageBerufsklassenUndGewerbe, PageHandelsregister: PageHandelsregister, PageGenossenschaftsregister: PageGenossenschaftsregister}" />



<div class="list listPersons">
<h3><f:translate key="tx_slubwebaddressbooks_domain_model_person.name"></f:translate></h3>
<p class="listIntro"><f:translate key='tx_slubwebaddressbooks_domain_model_book.hint_list_of_person_names'></f:translate></p>
<ul>
<f:groupedFor each="{persons}" as="person" groupBy="name">
	<f:for each="{person}" as="str" key="name" iteration="iterator">
		<f:if condition="{iterator.isLast}">
			<f:if condition="{str.image}">
					<f:then>
						<li><f:link.external uri="http://digital.slub-dresden.de/id{bookPersons.ppn}/{str.image}" target="_blank">{str.name}</f:link.external></li>
					</f:then>
					<f:else>
						<li>{str.name}</li>
					</f:else>
			</f:if>
		</f:if>
	</f:for>
</f:groupedFor>
</ul>

</div>


<div class="list listStreets">
<h3><f:translate key="tx_slubwebaddressbooks_domain_model_street.name"></f:translate></h3>
<f:if condition="{LinkMap}"><f:then>
<div class="linkmap">
	<f:link.external uri="{LinkMap}" target="_blank">
		<f:if condition="{LinkMapThumb}">
			<f:then>
				<f:format.html><img src="{LinkMapThumb}" alt="Stadtplan zum Adressbuch {place.place} {bookPersons.yearString}"></f:format.html>
			</f:then>
			<f:else>Stadtplan zum Adressbuch {place.place} {bookPersons.yearString}</f:else>
		</f:if>
	</f:link.external>
</div>
</f:then></f:if>
<p class="listIntro"><f:translate key='tx_slubwebaddressbooks_domain_model_book.hint_list_of_street_names'></f:translate></p>
<ul>
<f:groupedFor each="{streets}" as="street" groupBy="name">
	<f:for each="{street}" as="str" key="name" iteration="iterator">
		<f:if condition="{iterator.isFirst}">
			<f:if condition="{str.image}">
					<f:then>
						<li><f:link.external uri="http://digital.slub-dresden.de/id{bookStreets.ppn}/{str.image}" target="_blank">{str.name}</f:link.external>
						<f:if condition="<f:count subject='{streets}' /> > 1"><f:then>
						<f:link.external class="dfLink" uri="http://www.deutschefotothek.de/db/apsisa.dll/ete?action=queryGallery&index=freitext&desc={place.place}+{str.name}" target="_blank"><span class="hoverFeedback">...passende Bilder in der Deutschen Fotothek anzeigen</span></f:link.external>
						</f:then></f:if>
						</li>
					</f:then>
					<f:else>
						<li>{str.name}</li>
					</f:else>
			</f:if>
		</f:if>
	</f:for>
</f:groupedFor>
</ul>

</div>

<div class="clearfix"></div>

</div>

</f:section>
