<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <div id="map" style="height:600px">
    </div>

    <script>
        var map = L.map('map').setView([51.052931, 13.344958], 8);
	var searchLayer ;
	L.tileLayer("https://tile-2.kartenforum.slub-dresden.de/styles/maptiler-basic-v2/<f:format.raw>{</f:format.raw>z}/<f:format.raw>{</f:format.raw>x}/<f:format.raw>{</f:format.raw>y}.png", {
	attribution: '&copy; <a href=”http://osm.org/copyright”>OpenStreetMap</a> contributors'
	}).addTo(map);


    var addressPoints = [];

    <f:for each="{places}" iteration="id" as="place">
        addressPoints[{id.index}] = [
            "{place.place}",
            {place.lat},
            {place.lon},
            "<f:uri.action pageUid="{settings.pidTimeline}" controller="Book" action="timeline" arguments="{placeId: place.uid}" />",
            [<f:for each="{place.books}" as="book" iteration="it">"<f:format.htmlspecialchars><f:link.action pageUid="{settings.pidSearchPersons}" controller="Book" action="list" arguments="{year: book.year, placeId: place.uid}">{book.year}</f:link.action></f:format.htmlspecialchars>"{f:if(condition:"!{it.isLast}", then: ',')}</f:for>]
        ];
    </f:for>

    console.log(addressPoints);

    var markers = L.markerClusterGroup({
        chunkedLoading: true,
        maxClusterRadius: 60
    });

    for (var i = 0; i < addressPoints.length; i++) {
        var a = addressPoints[i];
        var label = a[0];
        console.log(a);
        var n=a[1];
        var uri=a[3];
        var gcon =  L.icon({iconUrl: '/typo3conf/ext/slub_web_addressbooks/Resources/Public/Images/marker.png', iconSize: [40,40]});
        var books = a[4];
        var bookString = 'Vorhandene Ausgaben: ';
        books.forEach((book, index) => {
            if (book.length > 0) {
                bookString += decodeHtml(book) + ' ';
            }
        });

        // decode htmlspecialchars in JavaScript
        function decodeHtml(str)
        {
            var map =
            {
                '&amp;': '&',
                '&lt;': '<',
                '&gt;': '>',
                '&quot;': '"',
                '&#039;': "'"
            };
            return str.replace(/&amp;|&lt;|&gt;|&quot;|&#039;/g, function(m) {return map[m];});
        }


        var marker = L.marker(new L.LatLng(a[1], a[2]),{ icon: gcon });
        console.log(bookString);
        marker.bindPopup('<h2><a href="' + uri + '">' + label + '</a></h2><br>' + bookString);
        markers.addLayer(marker);
    }

    markers.on('clustermouseover', function(event) {
        event.layer.spiderfy();
    });

    map.addLayer(markers);

    // load Sachsen coordinates as GeoJson
    $.ajax({
        dataType: "json",
        url: "/typo3conf/ext/slub_web_addressbooks/Resources/Public/sachsen.geojson",
        success: function(data) {
            L.geoJSON(data, {
                style: function (feature) {
                    return {color: '#dd2222', weight: 1, opacity: 0.5, fillOpacity: 0.1};
                }
            }).bindPopup(function (layer) {
                return layer.feature.properties.description;
            }).addTo(map);
        }
        }).fail(function() {});

</script>

</f:section>
